<!DOCTYPE html>
<html>
  <head>
    <title>House of Harlow Salon</title>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body class="#42a5f5 blue lighten-1">

 <!-- This is the Nav Bar -->
 <nav>
    <div class="nav-wrapper z-depth-3">
      <div class="brand-logo">
        <%= link_to 'BUKET', buckets_path %>
      </div>

      <ul id="nav-mobile" class="right">
      <% if user_signed_in? %>
        <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
      <% else %>
      	<li><%= link_to 'LOG IN', user_session_path %></li>
      <% end %>
        <li><%= link_to 'NEW BUKET', new_bucket_path %></li>
      </ul>
    </div>
  </nav>

  <!-- This is the ruby 'yield' section holding the body of all content -->
  <div class="container full-height blue lighten-3 main z-depth-2">
    <div class="row">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </div>
  </div>

<!-- This is the start of the footer -->
<!-- <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l6">
      </div>
      <div class="col 14 offset-12 s12">
        <ul>
          <li><%= link_to "Buket's Page", buckets_path, class: 'footer-link-color'%></li>
          <li><%= link_to 'New Buket', new_bucket_path, class: 'footer-link-color'%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Karson & Justin
    <% if user_signed_in? %>
        <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: 'footer-link-color logout-align-right'%>
      <% else %>
        <%= link_to 'LOG IN', user_session_path, class: 'footer-link-color logout-align-right'%>
      <% end %>
    <%#= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'footer-link-color logout-align-right'%>
    </div>
  </div>
</footer> -->
</body>
</html>
	